/* styles for my portfolio */


body {
background-image: url('../images/brickwall.png');
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777777;

}

div.content{
    /* This width seemed to work and not work at the same time. I measured it using the chrome plug-in and it does not match the 960px that I set it to but it did brin the side margins in siginificantly*/
    width:  960px; 
}

br.bar{
    border-bottom: 10px solid rgb(97, 93, 93);
    line-height: 350%;
    position: fixed;

} 

/* could not get this section which contains the nav bar and my name to  stay fixed at the top of page */

section.container {
    
    background-color: #ffffff;
    height: 400px;
    width: 650px;
    margin-left: 150px;
    margin-top: 70px;
    clear: right;
    line-height: 1.8;

    
}

div.intro {

    /* Could not get my h1 to stay fixed at the top of the page */

    background-color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    color: white;
    margin-top: 0px;
    margin-left: 150px;
    line-height: 350%;
    position: relative;
    padding:10px 20px; 
    width: 190px;
    text-align: center; 
    clear: right;
}




h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
   


}
   
  


div.aside {

    /* could not get this to appear closer to the top of the page */

    float: right; 
    background-color: #ffffff;
    width: 270px;
    height: 270px;
    position: ;
    left: 30px;
    clear: left;
    margin-top: 0px; 

    left: 900px;
    border: 3px  #73AD21;
  
    }




  
li {

    /* need to get underlines to disappear and get the links in the proper order */
    text-decoration: none;
    display: inline;
    float: right;
    display: block;
    padding: 10px 30px;
    margin-top: 0px;
    
    
}

footer{

    height: 60px;
    align-content: center;
    background-color: #666666;
    clear: both;
    color: white;
    font-size: 11px;
    text-align: center;
    width: 1260px;
    

}


p.icons {
align: middle;


}